@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.circle {
  opacity: 0.7;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .circle {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 500px) {
  .circle {
    width: 175px;
    height: 175px;
  }
  .value{
    font-size: 10px !important;
  }
  .label{
    font-size: 10px !important;
  }
}

